---
Checks: >
  -*,
  cert-*,
  cppcoreguidelines-*,
  google-*,
  modernize-*,
  readability-*,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-inconsistent-declaration-parameter-name,
  readability-magic-numbers,
  readability-redundant-member-init,
  readability-static-accessed-through-instance

Checks: '-*,readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.GlobalVariableCase, value: lower_case }
  - { key: readability-identifier-naming.MemberVariableCase, value: lower_case }
  - { key: readability-identifier-naming.FunctionCase, value: lower_case }
  - { key: readability-identifier-naming.ClassCase, value: lower_case }
  - { key: readability-identifier-naming.StructCase, value: lower_case }
  - { key: readability-identifier-naming.EnumCase, value: lower_case }
  - { key: readability-identifier-naming.EnumConstantCase, value: CamelCase }
  - { key: readability-identifier-naming.ConstantCase, value: camelBack }
  - { key: readability-identifier-naming.ParameterCase, value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: 'm_' }
  - { key: readability-identifier-naming.StaticConstantCase, value: camelBack }
  - { key: readability-identifier-naming.StaticVariableCase, value: camelBack }
